.comment {
    &__wrapper {
        margin-top: 60px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        &:nth-child(2) {
            margin: 60px 0;
        }
        &_text {
            margin-left: 60px;
        }
        &_title {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #0D0D0D;
        }
        &_subtitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #646464;
        } 
        &_descr {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
            span {
                color: #383434;
            }
        }
    }
}