@media (max-width: 991px) {
    .promo {
        min-height: 610px;
        padding-bottom: 50px;
        .header {
            margin: 0 40px;
            &__logo {
                width: 220px;
            }
            &__official {
                span {
                    line-height: 25px;
                    font-size: 17px;
                }
            }
            &__phone {
                font-style: 17px;
                font-weight: 500;
            }
            .button {
                height: 30px;
                font-size: 14px;
            }
        }
        &__wrapper {
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
            margin-top: 12px;
        }
        &__icons {
            margin-top: 50px;
        }
        .button_main {
            margin-top: 50px;
            width: 280px;
            height: 48px;
            font-size: 15px;
        }
    }
    .advantage {
        padding: 50px 0;
        &__wrapper {
            margin: 50px 20px 0 20px;
        }
        &__block {
            width: 230px;
        }
        &__img {
            width: 55px;
        }
        &__title {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .consultation {
        min-height: 545px;
        padding: 70px 0 70px 40px;
        .title_left {
            line-height: 35px;
        }
        &__descr {
            line-height: 26px;
        }
    }
    .carousel {
        padding: 60px 40px 0 40px;
        &__inner {
            width: 550px;
        }
        &__img {
            width: 550px;
        }
    }
    .catalog {
        padding: 60px 40px;
        &__tabs {
            margin-top: 55px;
        }
        &__tab {
            font-size: 17px;
            width: 210px;
            height: 47px;
            line-height: 47px;
        }
    }
    .comment {
        &__wrapper {
            margin-top: 45px;
            padding: 0 40px 0 40px;
        }
        &__item {
            &_text {
                margin-left: 45px;
            }
            &_title {
                font-size: 16px;
            }
            &_subtitle {
                font-size: 13px;
                line-height: 18px;
            }
            &_descr {
                padding-right: 0;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .footer {
        height: 450px;
        &__info {
            padding: 40px;
            width: 410px;
            height: 235px;
        }
        &__addr {
            font-size: 19px;
            line-height: 10px;
        }
        &__phone {
            font-size: 19px;
            margin-top: 34px;
        }
    }
    .title {
        font-size: 27px;
        line-height: 27px;
    }
    .feed-form {
        width: 260px;
        margin-top: 13px;
        input {
            font-size: 13px;
            height: 45px;
        }
    }
    .modal {
        padding: 30px 40px 30px 40px;
        width: 340px;
        min-height: 360px;
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
            margin-top: 8px;
        }
    }
    .button {
        height: 45px;
        font-size: 14px;
    }
}
    